/* CSS variables */
:root {
  --radius: 6px;
  --light0: #C4D7E0;
  --light1: #6E85B7;
  --light2: #F8F9D7;
  --dark0: #2C3333;
  --dark1: #E7F6F2;
  --dark2: #395B64;
}

.App {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

.light {
  background-color: var(--light0);
}

.dark {
  background-color: var(--dark0);
}

.mainHeading {
  font-size: 1.5em;
  padding: 0px;
  margin: 10px 0px 0px 50px;
}

.mainHref {
  text-decoration: none;
}

.delimiter {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* light mode */
#light {
  color: var(--light1);
}

/* dark mode */
#dark {
  color: var(--dark1);
}

#light a {
  color: var(--light1);
}

#dark a {
  color: var(--dark1);
}

header {
  padding: 5px;
}

#light header {
  background-color: var(--light2);
  border-bottom: 1px solid var(--light1);
}

#dark header {
  background-color: var(--dark2);
  border-bottom: 1px solid var(--dark1);
}

header li {
  display: inline;
  margin: 10px;
}

/* status messages */
.bad {
  color: #ff6767;
}

/* status messages */
.good {
  color: #00cd09;
}

nav {
  float: left;
}

/* menu items */
.navlink {
  text-decoration: underline;
}

#light .navlink {
  color: var(--light1);
}

#dark .navlink {
  color: var(--dark1);
}

.navlinkUnselected {
  font-weight: normal;
}

.navlinkSelected {
  font-weight: bold;
}

/* theme selector menu */
.themeSetting {
  float: right;
  margin-right: 10px;
}

/* theme selector menu */
.themeSetting span {
  font-size: 0.8em;
  width: 100%;
}

/* theme selector menu */
.themeSetting button {
  width: 100%;
  margin: 5px 0px;
}

/* theme selector menu */
.themeSetting .themeKey {
  float: left;
}

/* theme selector menu */
.themeSetting .themeVal {
  float: right;
  font-weight: bold;
}

article {
  max-width: 900px;
  border-radius: var(--radius);
  margin: 40px auto;
  padding: 10px;
}

#light article {
  border: 1px solid var(--light1);
  background-color: var(--light2);
}

#dark article {
  border: 1px solid var(--dark1);
  background-color: var(--dark2);
}

article table {
  width: 100%;
}

article table button {
  height: auto;
}

#light article table a {
  color: var(--light1);
}

#dark article table a {
  color: var(--dark1);
}

article table thead {
  text-align: left;
}

#light article table thead {
  color: var(--light1);
  background-color: var(--light0);
}

#dark article table thead {
  color: var(--dark0);
  background-color: var(--dark1);
}

article table tfoot {
  text-align: center;
}

#light article table tfoot {
  color: var(--light1);
  background-color: var(--light0);
}

#dark article table tfoot {
  color: var(--dark0);
  background-color: var(--dark1);
}

select, button {
  height: 2.5em;
}

article select {
  padding: 0.5em;
}

.copyButton {
  cursor: copy;
}

article .textInput {
  padding: 8px;
  border-radius: var(--radius);
}

#light article .textInput {
  border: 1px solid var(--light1);
}

#dark article .textInput {
  border: 1px solid var(--dark1);
}

.sameLine {
  padding: auto 0px;
  line-height: 2.5em;
  vertical-align: middle;
}

.cautionBtn {
  border: 3px solid red;
  border-radius: var(--radius);
}

.okBtn {
  border: 3px solid #00cd09;
  border-radius: var(--radius);
}

.floatBlock {
  float:left;
}

.marginRight {
  margin-right: 5px;
}

.marginLeft {
  margin-left: 5px;
}

.help {
  margin-left: 5px;
  margin-right: 5px;
  padding: 1px;
  font-weight: bold;
  cursor: help;
}

.centerDiv {
  width: 300px;
  font-size: 2em;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  opacity: 0.5;
  border-radius: var(--radius);
}

.logTable {
  background-color:rgba(0, 255, 0, 0.1);
}

.logTable td {
  padding: 5px;
}

.clearfix {
  clear: both;
}

footer {
  padding: 0px 5px;
}
